.sign-in-form {
    width: 10cm;
    margin: auto;
}

.layer-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(220, 220, 220, 0.75);
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0;
    width: 100%;
    height: 100%;
}

.group {
    position: relative;
    margin: 45px 0;
}

.group .form-input {
    background: none;
    background-color: white;
    color: black;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid grey;
    margin: 25px 0;
}

.group .form-input:focus {
    outline: none;
}

.group .form-input:focus .form-input-label {
    top: -14px;
    font-size: 12px;
    color: black;
}

.group input[type='password'] {
    letter-spacing: 0.3em;
}

.group .form-input-label {
    color: grey;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 300ms ease all;
}

.group .form-input-label.shrink {
    top: -14px;
    font-size: 12px;
    color: black;
}
