<div class='submissions'>
    <div class='row'>
        <div id='dataset' class='col'>
            <form>
                <div class="form-group">
                    <label for="file-input">Choose available data here: </label>
                    <select class="form-control" id="file-input">
                        <option *ngFor='let sampleTitle of sampleJsonTitles'>{{ sampleTitle }}</option>
                    </select>
                      
                </div>
            </form>
        </div>
        <div id='upload' class='col'>
            <form>
                <div class="form-group">
                    <label for="file-upload">Upload your data here: </label>
                    <input 
                        type="file" 
                        class="form-control-file" 
                        id="file-upload">
                </div>
            </form>
            <div *ngIf='!isAuthenticated' class='layer'>
                <h4>You have to sign in first ...</h4>
            </div>
        </div>
    </div>
    <hr>
</div>