<div class='submissions'>
    <div class='row'>
        <div id='dataset' class='col'>
            <form>
                <div class="form-group">
                    <label for="file-input">Choose available data here: </label>
                    <select class="form-control mb-2" id="file-input" (change)="onChange($event)">
                        <ng-template [ngIf]='userDetails'>
                            <option disabled>{{ userDetails.displayName }}</option>
                            <option *ngFor='let userJsonTitle of userJsonTitles'>{{ userJsonTitle }}</option>
                        </ng-template>
                    </select>
                    <button
                        class='btn btn-primary mb-2'
                        [disabled]='selectedTitle.length == 0'
                        (click)='onLoadClicked()'>
                        Load
                    </button>
                </div>
            </form>
        </div>
        <div id='upload' class='col'>
            <app-submission [userDetails]='userDetails'></app-submission>
            <div *ngIf='!userDetails' class='layer'>
                <h4>You have to sign in first ...</h4>
            </div>
        </div>
    </div>
    <hr>
</div>