.submissions .row #upload .layer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(220, 220, 220, 0.75);
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0;
    width: 100%;
    height: 100%;
}

.submissions .row #upload .layer h4 {
    margin: 0;
    font-style: italic;
}
