<div class='navbar'>
    <h1 
        routerLink='/' 
        class='navbar-items navbar-brand' 
        routerLinkActive='active'
        [routerLinkActiveOptions]='{ exact: true }'>
            Cell Visualizer
    </h1>
    <ul class='navbar-items nav nav-tabs'>
        <li 
            *ngIf='isAuthenticated'
            class='nav-item'>
            <a 
                class='nav-link' 
                routerLinkActive='active' 
                (click)='signout()'>
                Sign Out
            </a>
        </li>
        <li 
            *ngIf='!isAuthenticated'
            class='nav-item'>
            <a 
                class='nav-link' 
                routerLinkActive='active' 
                routerLink='/signin'>
                Sign In
            </a>
        </li>
        <li 
            *ngIf='!isAuthenticated'
            class='nav-item'>
            <a 
                class='nav-link' 
                routerLinkActive='active' 
                routerLink='/signup'>
                Sign Up
            </a>
        </li>
    </ul>
</div>
