<div class='navbar'>
    <h1 
        routerLink='/' 
        class='navbar-items navbar-brand' 
        role="presentation" 
        routerLinkActive='active'
        [routerLinkActiveOptions]='{ exact: true }'>
            Cell Visualizer
    </h1>
    <ul class='navbar-items'>
        <span 
            routerLink='/signin' 
            class='navbar-texts'
            role="presentation" 
            routerLinkActive='active'>
            <a>Sign In</a>
        </span>
        <span 
            routerLink='/signup' 
            class='navbar-texts'
            role="presentation" 
            routerLinkActive='active'>
            <a>Sign Up</a>
        </span>
    </ul>
</div>