<div class='navbar'>
    <h1 
        routerLink='/' 
        class='navbar-items navbar-brand' 
        role="presentation" 
        routerLinkActive='active'
        [routerLinkActiveOptions]='{ exact: true }'>
            Cell Visualizer
    </h1>
    <ul class='navbar-items nav nav-tabs'>
        <li 
            class='navbar-texts'
            role="presentation">
            <a 
                class='nav-link' 
                routerLinkActive='active' 
                routerLink='/signin'>
                Sign In
            </a>
        </li>
        <li 
            class='navbar-texts'
            role="presentation">
            <a 
                class='nav-link' 
                routerLinkActive='active' 
                routerLink='/signup'>
                Sign Up
            </a>
        </li>
    </ul>
</div>