.navbar {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1cm;
}

.navbar .navbar-brand {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1.5rem;
}

.navbar .navbar-items {
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
}

.navbar .navbar-items a {
    color: black;
}
