<div class='submissions'>
    <div class='row'>
        <div class='col'>
            <form>
                <div class="form-group">
                    <label for="file-input">Choose available data here: </label>
                    <select class="form-control" id="file-input">
                        <option>Default select</option>
                    </select>
                      
                </div>
            </form>
        </div>
        <div class='col'>
            <form>
                <div class="form-group">
                    <label for="file-upload">Upload your data here: </label>
                    <input 
                        type="file" 
                        class="form-control-file" 
                        id="file-upload">
                </div>
            </form>
        </div>
    </div>
    <hr>
</div>