.legend {
    display: block;
    margin-top: 1cm;
    margin-bottom: 1cm;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5cm;
    background-color: rgb(220, 220, 220);
    text-align: center!important;
    border-radius: 10px;
    width: 70%;
    justify-content: center;
}

.legend .legend-title {
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 90%;
}

.legend .legend-scale .legend-labels {
    list-style: none;
    width: 90%;
    margin-top: 0.5cm;
    margin-left: auto;
    margin-right: auto;
}

.legend .legend-scale .legend-labels li {
    display: block;
    float: left;
    width: 20%;
    margin-bottom: 6px;
    font-size: 80%;
    list-style: none;
}

.legend .legend-scale .legend-labels li span {
    display: block;
    float: left;
    height: 15px;
    width: 100%;
    text-align: center;
}

.legend .legend-note {
    display: inline;
    color: black;
    font-size: 80%;
    font-style: italic;
    font-weight: 400;
}