<form>
    <div class="form-group">
        <label for="file-upload">Upload your data here: </label>
        <input 
            type="file"
            accept=".csv, text/csv" 
            class="form-control-file" 
            id="file-upload"
            (change)="onFileChange($event)">
    </div>
    <div class='group'>
        <input 
            class='form-input'
            type='input'
            id='filename'
            name='fileName'
            [(ngModel)]='filenameInput'>
        <label 
            [ngClass]="filenameInput.length > 0 ? 'shrink form-input-label' : 'form-input-label'">
            File Name
        </label>
    </div>
    <button 
        [disabled]='fileDNE || filenameInput.length == 0' 
        class='btn btn-primary mr-1 mb-2'
        (click)='onSubmit()'>
        Upload
    </button>
    <button
        *ngIf="uploadState | async; let state"
        [disabled]="!(state === 'paused' || state === 'running')"
        class='btn btn-danger mb-2'
        (click)='onCancel()'>
        Cancel
    </button>
    <div class="progress">
        <div 
            class="progress-bar progress-bar-striped bg-success" 
            role="progressbar" 
            [style.width]="(uploadProgress | async) + '%'" 
            [attr.aria-valuenow]="(uploadProgress | async)" 
            aria-valuemin="0" 
            aria-valuemax="100">
        </div>
    </div>
</form>