<div class='selection'>
  <div class='selections'><strong>Single selection: </strong> {{ map[singleSelection] }}</div>
  <div class='selections'>
    <strong>Multi selection: </strong>
    <span *ngFor='let component of selectedComponents'>
      <span>{{ map[component] }}, </span>
    </span>
  </div>
  <br/>
  <button 
    id='clear-button'
    type='submit'
    class='btn btn-danger'
    [disabled]='selectedComponents.length == 0'
    (click)='onClearSelections()'
  >
      Clear
  </button>
</div>