<div class='legend'>
    <div class='legend-title'> -log<sub>10</sub>(<span style='font-style: italic;'>p</span>-value): melanoma</div>
    <div class='row legend-scale'>
        <div class='legend-labels'>
            <li><span style="background:rgb(0, 255, 255);"></span>0.00</li>
            <li><span style="background:rgb(64, 191, 255);"></span></li>
            <li><span style="background:rgb(127, 127 , 255);"></span></li>
            <li><span style="background:rgb(191, 64 , 255);"></span></li>
            <li><span style="background:rgb(255, 0 , 255);"></span>{{ maxLog }}</li>
        </div>
    </div>
    <div class='row legend-note'>Note: left to right order corresponds to increasing -log(p_val)</div>
</div>